@model CalendarioAcademico.Domain.Models.CAD_Calendario

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CAD_Calendario</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAD_Ano)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAD_Ano)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAD_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAD_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAD_DS_Observacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAD_DS_Observacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAD_NumeroResolucao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAD_NumeroResolucao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAD_DT_DataAtualizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAD_DT_DataAtualizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAD_CD_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAD_CD_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CAD_CD_Evento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CAD_CD_Evento)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CAD_CD_Calendario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
