@model IEnumerable<CalendarioAcademico.Domain.Models.CAD_Calendario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CAD_Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAD_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAD_DS_Observacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAD_NumeroResolucao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAD_DT_DataAtualizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAD_CD_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CAD_CD_Evento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CAD_Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAD_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAD_DS_Observacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAD_NumeroResolucao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAD_DT_DataAtualizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAD_CD_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CAD_CD_Evento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CAD_CD_Calendario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CAD_CD_Calendario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CAD_CD_Calendario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
